.search-bar{
  font-family: 'Source Code Pro', monospace;
  padding: 10px;
  margin: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 140px;
}

.stocksContainer{
  border-style: groove;
  float: left;
  padding: 20px;
  margin: 10px;
}

.stocks{
  font-family: 'Source Code Pro', monospace;
  font-size: 40px;
}
